<div
  class="login-register"
  style="background-image: url(assets/images/background/login-register.jpg)"
>
  <div class="login-register-box">
    <mat-card class="m-t-10">
      <mat-card-content>
        <form
          *ngIf="!isLoggedIn"
          name="form"
          (ngSubmit)="f.form.valid && onSubmit()"
          #f="ngForm"
          novalidate
        >
          <div class="text-center">
            <img
              style="height: 35px; width: 35px"
              alt="homepage"
              src="assets/images/logo-icon.png"
            />
            <h4 class="m-t-0">Login to App</h4>
          </div>
          <div
            *ngIf="f.submitted && isLoginFailed"
            class="bg-danger p-10 text-white"
          >
            {{ errorMessage }}
          </div>
          <div fxLayout="row wrap">
            <!-- col full-->
            <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
              <mat-form-field>
                <input
                  matInput
                  placeholder="Email address"
                  name="email"
                  [(ngModel)]="form.email"
                  #email="ngModel"
                  email
                  required
                />
              </mat-form-field>
              <small
                class="text-danger support-text"
                *ngIf="email.errors && f.submitted"
              >
                Email is required!
              </small>
            </div>
            <!-- col full-->
            <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
              <mat-form-field>
                <input
                  matInput
                  type="password"
                  placeholder="Password"
                  required=""
                  name="password"
                  [(ngModel)]="form.password"
                  required
                  minlength="6"
                  #password="ngModel"
                />
              </mat-form-field>
              <div
                class="text-danger support-text"
                *ngIf="password.errors && f.submitted"
              >
                <small *ngIf="password.errors['required']">
                  Password is required
                </small>
                <small *ngIf="password.errors['minlength']">
                  Password must be at least 6 characters
                </small>
              </div>
            </div>
            <!-- col half-->
            <div fxFlex.gt-sm="50" fxFlex.gt-xs="50">
              <mat-checkbox color="warn">Remember me</mat-checkbox>
            </div>
            <!-- col half-->
            <div fxFlex.gt-sm="50" fxFlex.gt-xs="50" class="text-right">
              <a [routerLink]="['/login/forgot']" class="link">Forgot pwd?</a>
            </div>
            <!-- col full-->
            <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
              <button
                mat-raised-button
                color="primary"
                class="btn-block btn-lg m-t-20 m-b-20"
                type="submit"
              >
                Login
              </button>
            </div>
            <!-- col full-->
            <!-- <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100" class="text-center">
                  <span>Don't have an account?
                      <a [routerLink]="['/login/register']" class="text-info link">Register</a>
                  </span>
              </div> -->
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>
